In [1]:
!pip install klib

Collecting klib
  Downloading klib-1.3.1-py3-none-any.whl.metadata (7.6 kB)
Requirement already satisfied: Jinja2<4.0.0,>=3.1.0 in /opt/conda/lib/python3.10/site-packages (from klib) (3.1.2)
Requirement already satisfied: matplotlib<4.0.0,>=3.6.0 in /opt/conda/lib/python3.10/site-packages (from klib) (3.7.5)
Requirement already satisfied: numpy<2.0.0,>=1.26.0 in /opt/conda/lib/python3.10/site-packages (from klib) (1.26.4)
Requirement already satisfied: pandas<3.0,>=1.4 in /opt/conda/lib/python3.10/site-packages (from klib) (2.2.2)
Requirement already satisfied: plotly<6.0.0,>=5.11.0 in /opt/conda/lib/python3.10/site-packages (from klib) (5.18.0)
Requirement already satisfied: scipy<2.0.0,>=1.10.0 in /opt/conda/lib/python3.10/site-packages (from klib) (1.11.4)
Collecting screeninfo<0.9.0,>=0.8.1 (from klib)
  Downloading screeninfo-0.8.1-py3-none-any.whl.metadata (2.9 kB)
Requirement already satisfied: seaborn>=0.12.0 in /opt/conda/lib/python3.10/site-packages (from klib) (0.12.2)
Requirement already satisfied: MarkupSafe>=2.0 in /opt/conda/lib/python3.10/site-packages (from Jinja2<4.0.0,>=3.1.0->klib) (2.1.3)
Requirement already satisfied: contourpy>=1.0.1 in /opt/conda/lib/python3.10/site-packages (from matplotlib<4.0.0,>=3.6.0->klib) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /opt/conda/lib/python3.10/site-packages (from matplotlib<4.0.0,>=3.6.0->klib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /opt/conda/lib/python3.10/site-packages (from matplotlib<4.0.0,>=3.6.0->klib) (4.47.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/conda/lib/python3.10/site-packages (from matplotlib<4.0.0,>=3.6.0->klib) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /opt/conda/lib/python3.10/site-packages (from matplotlib<4.0.0,>=3.6.0->klib) (21.3)
Requirement already satisfied: pillow>=6.2.0 in /opt/conda/lib/python3.10/site-packages (from matplotlib<4.0.0,>=3.6.0->klib) (9.5.0)
Requirement already satisfied: pyparsing>=2.3.1 in /opt/conda/lib/python3.10/site-packages (from matplotlib<4.0.0,>=3.6.0->klib) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in /opt/conda/lib/python3.10/site-packages (from matplotlib<4.0.0,>=3.6.0->klib) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas<3.0,>=1.4->klib) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.10/site-packages (from pandas<3.0,>=1.4->klib) (2023.4)
Requirement already satisfied: tenacity>=6.2.0 in /opt/conda/lib/python3.10/site-packages (from plotly<6.0.0,>=5.11.0->klib) (8.2.3)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.7->matplotlib<4.0.0,>=3.6.0->klib) (1.16.0)
Downloading klib-1.3.1-py3-none-any.whl (23 kB)
Downloading screeninfo-0.8.1-py3-none-any.whl (12 kB)
Installing collected packages: screeninfo, klib
Successfully installed klib-1.3.1 screeninfo-0.8.1

In [2]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
train = pd.read_csv('/kaggle/input/playground-series-s4e7/train.csv', index_col=[0])
test = pd.read_csv('/kaggle/input/playground-series-s4e7/test.csv', index_col=[0])

In [6]:
train.head()

,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
id,,,,,,,,,,,
0,Male,21,1,35.0,0,1-2 Year,Yes,65101.0,124.0,187,0
1,Male,43,1,28.0,0,> 2 Years,Yes,58911.0,26.0,288,1
2,Female,25,1,14.0,1,< 1 Year,No,38043.0,152.0,254,0
3,Female,35,1,1.0,0,1-2 Year,Yes,2630.0,156.0,76,0
4,Female,36,1,15.0,1,1-2 Year,No,31951.0,152.0,294,0

In [7]:
print(f'Size of training dataset: {train.shape}')
print(f'Size of test dataset: {test.shape}')

Size of training dataset: (11504798, 11)
Size of test dataset: (7669866, 10)

In [8]:
print('Missing values in training dataset:\n')
train.isnull().sum()

Missing values in training dataset:

Gender                  0
Age                     0
Driving_License         0
Region_Code             0
Previously_Insured      0
Vehicle_Age             0
Vehicle_Damage          0
Annual_Premium          0
Policy_Sales_Channel    0
Vintage                 0
Response                0
dtype: int64

In [9]:
print('Missing values in test dataset:\n')
test.isnull().sum()

Missing values in test dataset:

Gender                  0
Age                     0
Driving_License         0
Region_Code             0
Previously_Insured      0
Vehicle_Age             0
Vehicle_Damage          0
Annual_Premium          0
Policy_Sales_Channel    0
Vintage                 0
dtype: int64

In [11]:
train.describe().T

,count,mean,std,min,25%,50%,75%,max
Age,11504798.0,38.383563,14.993459,20.0,24.0,36.0,49.0,85.0
Driving_License,11504798.0,0.998022,0.044431,0.0,1.0,1.0,1.0,1.0
Region_Code,11504798.0,26.418690,12.991590,0.0,15.0,28.0,35.0,52.0
Previously_Insured,11504798.0,0.462997,0.498629,0.0,0.0,0.0,1.0,1.0
Annual_Premium,11504798.0,30461.370411,16454.745205,2630.0,25277.0,31824.0,39451.0,540165.0
Policy_Sales_Channel,11504798.0,112.425442,54.035708,1.0,29.0,151.0,152.0,163.0
Vintage,11504798.0,163.897744,79.979531,10.0,99.0,166.0,232.0,299.0
Response,11504798.0,0.122997,0.328434,0.0,0.0,0.0,0.0,1.0

In [12]:
test.describe().T

,count,mean,std,min,25%,50%,75%,max
Age,7669866.0,38.391369,14.999507,20.0,24.0,36.0,49.0,85.0
Driving_License,7669866.0,0.998021,0.044444,0.0,1.0,1.0,1.0,1.0
Region_Code,7669866.0,26.426614,12.994326,0.0,15.0,28.0,35.0,52.0
Previously_Insured,7669866.0,0.463077,0.498635,0.0,0.0,0.0,1.0,1.0
Annual_Premium,7669866.0,30465.525668,16445.864722,2630.0,25280.0,31827.0,39460.0,540165.0
Policy_Sales_Channel,7669866.0,112.364992,54.073585,1.0,29.0,151.0,152.0,163.0
Vintage,7669866.0,163.899577,79.984449,10.0,99.0,166.0,232.0,299.0

In [14]:
print('List of all features:\n')
test.columns

List of all features:

Index(['Gender', 'Age', 'Driving_License', 'Region_Code', 'Previously_Insured',
       'Vehicle_Age', 'Vehicle_Damage', 'Annual_Premium',
       'Policy_Sales_Channel', 'Vintage'],
      dtype='object')

In [19]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11504798 entries, 0 to 11504797
Data columns (total 11 columns):
 #   Column                Dtype
---  ------                -----
 0   Gender                object
 1   Age                   int64
 2   Driving_License       int64
 3   Region_Code           float64
 4   Previously_Insured    int64
 5   Vehicle_Age           object
 6   Vehicle_Damage        object
 7   Annual_Premium        float64
 8   Policy_Sales_Channel  float64
 9   Vintage               int64
 10  Response              int64
dtypes: float64(3), int64(5), object(3)
memory usage: 1.0+ GB

In [20]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7669866 entries, 11504798 to 19174663
Data columns (total 10 columns):
 #   Column                Dtype
---  ------                -----
 0   Gender                object
 1   Age                   int64
 2   Driving_License       int64
 3   Region_Code           float64
 4   Previously_Insured    int64
 5   Vehicle_Age           object
 6   Vehicle_Damage        object
 7   Annual_Premium        float64
 8   Policy_Sales_Channel  float64
 9   Vintage               int64
dtypes: float64(3), int64(4), object(3)
memory usage: 643.7+ MB

In [21]:
categorical_features = test.select_dtypes(include=['object']).columns
categorical_features

Index(['Gender', 'Vehicle_Age', 'Vehicle_Damage'], dtype='object')

In [25]:
unique_counts = train[categorical_features].nunique()
unique_counts

Gender            2
Vehicle_Age       3
Vehicle_Damage    2
dtype: int64

In [27]:
train['Gender'].value_counts(normalize=True)

Gender
Male      0.541351
Female    0.458649
Name: proportion, dtype: float64

In [28]:
train['Vehicle_Age'].value_counts(normalize=True)

Vehicle_Age
1-2 Year     0.520016
< 1 Year     0.438438
> 2 Years    0.041546
Name: proportion, dtype: float64

In [29]:
train['Vehicle_Damage'].value_counts(normalize=True)

Vehicle_Damage
Yes    0.50268
No     0.49732
Name: proportion, dtype: float64